<style>
  img {
  border-radius: 50%;
  border-color: black;
  border-style:solid;
}
#image{
  margin-top: 0%;
  margin-left:0%;
 
  padding-top: 10%;
  padding-left: 5%;
}
#details {

  padding-right: 2%;
}
</style>
<div class="row">
  <div class="col-sm-8">
<div class="card mb-3">
    <h3 class="card-header">User profile</h3>
    <div class="card-body">
      <h5 class="card-title">
        <%= user.username %>
      </h5>
      <h6 class="card-subtitle text-muted">
        <%= user.email %>
      </h6>
    </div>
    <hr>
    <div class="row">
    <div class="col-4" id="image">
    <img src="<%= user.profileimage %>" alt="Avatar" style="width:150px">
  </div>
    <div class="col-8" id=details>
    <form action="/blog/profile/edit"  enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">Profile pic</label>
        <input type="file" name="profileimage" accept="image/*" />
      </div>
      <div class="form-group my-4 text-center">
        <button class="btn btn-primary" type="submit">Save ProfileImage</button>
      </div>
      </form>
      <hr>
      <form action="/blog/profile" method="POST">
        <div class="form-group">
          <label class="col-form-label mt-4" for="inputDefault">Add some Bio</label>
          <input type="text" class="form-control" placeholder="description" id="bio" name="bio" value="<%= typeof user.bio != 'undefined' ? user.bio : '' %>">
        </div>

    <div class="form-group my-4 text-center">
      <button class="btn btn-primary" type="submit">Edit Bio</button>
    </div>
  </form>
    </div>
    </div>
    </div>
  </div>
  
    <div class="col-sm-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">user</th>
            <th scope="col">Info</th>
          </tr>
          </thead>
          <tbody>
            <tr class="table-active">
              <th scope="row">Update Profile</th>
              <td><a href="/blog/updateprofile"><button type="button"  class="btn btn-outline-info" type="submit">Update</button></a></td>
            </tr>
            <tr>
            <th scope="row">No Of Posts</th>
            <td><%=post %></td>
            </tr>
            <tr>
              <th scope="row">followings</th>
              <td><%= user.followingusers.length %></td>
            </tr>
            <tr>
              <th scope="row">followers</th>
              <td><%= user.follower.length %></td>
            </tr>
            <tr>
              <th scope="row">Liked Posts</th>
              <td><%= user.likedPosts.length %></td>
            </tr>
            </tbody>
      </table>
    </div>
    </div>
    <button type="button" class="btn btn-info" id="like"><a style="text-decoration:none" href="/blog/user/<%= user.username %>">Go to Official Page</a></button>
